@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: unset;
  padding: unset;
}

input, button, textarea, select {
  font: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
